<table id='forums' class='forums subdued' cellspacing='0'>
  <thead>
  <tr>
    <th class="icon"></th>
    <th class="desc-and-last-post">
      <h2><%= link_to forem_emojify(category.name), [forem, category] %></h2>
    </th>
    <th class="topics-count"><%= t('topics', :scope => 'forem.general') %></th>
    <th class="posts-count"><%= t('posts', :scope => 'forem.general') %></th>
    <th class="views-count"><%= t('forem.forums.index.views') %></th>
  </tr>
  </thead>
  <tbody>
    <%= render category.forums %>
  </tbody>
</table>
